* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   list-style: none;
   font-family: roboto;
 }
 
body{
  background-image: url(background.jpeg);
  background-repeat: repeat-y;
}

nav{
   background-color: rgb(22, 22, 22);
   height: 90px;
   width: 100%;
}

label.logo{
   color:rgba(57, 163, 245, 0.966);
   font-size: 50px;
   line-height: 88px;
   padding: 0 60px;
   font-weight: bold;
}

nav ul{
   float: right;
   margin-right: 90px;
}

nav ul li{
   display: inline-block;
   line-height: 96px;
   margin: 0 10px;
}

nav ul li a{
   color: white;
   font-size: 25px;
   padding: 7px 13px;
   text-transform: uppercase;
}

a.active , a:hover{
   color:rgb(109, 110, 110);
   transition: 0.5s;
}

.checkbtn{
   color: white;
   font-size: 25px;
   float: right;
   line-height: 90px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}

#check{
   display: none;
}

header{
   position: fixed;
   top: 0;
   width: 100%;
}

 .mywork{
    color: rgba(10, 248, 248, 0.966);
    font-size: 35px;
    width: 11%;
    padding-top: 130px;
    margin: auto;
 }

 .smalldesmywork{
    color: white;
    font-size: 20px;
    width: 24%;
    margin: auto;
    margin-top: 10px;
 }

 .project1{
   width: 23%;
   height: 350px;
   padding: 7px;
   margin-top: 50px;
   margin-left: 100px;
   border: 1px solid rgb(42, 43, 42);
   box-shadow: 1px 1px 22px rgb(103, 105, 103);
   border-radius: 7px;
}

 .project1 img{
    border-radius: 7px;
    margin-left: 8px;
    margin-top: 10px;
 }

 .project-name1{
   margin: 0px;
   padding: 0px;
   color: white;
   display: inline-block;
   margin-left: 100px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 20px;
 }

 .desc1{
   color: white;
   margin-left: 8px;
}

 .cards{
   display: flex;
   padding: 0px 100px;
 }

 .project2{
   width: 22%;
   height: 350px;
   padding: 7px;
   margin-top: 50px;
   margin-left: 100px;
   border: 1px solid rgb(42, 43, 42);
   box-shadow: 1px 1px 15px rgb(103, 105, 103);
   border-radius: 7px;
}

 .project2 img{
    border-radius: 7px;
    margin-left: 8px;
    margin-top: 10px;
    height: 151px;
    opacity: 0.5;
 }

 .project-name2 img{
   height: 20px;
   width: 100px;
   margin-left: 85px;
   margin-top: 15px;
   margin-bottom: 10px;
   opacity: 0.5;
 }

 .desc2{
   color: white;
   margin-left: 8px;
}

.desc2 img{
   height: 100px;
   width: 100px;
   margin-left: 80px;
   opacity: 0.5;
}

 .cards{
   display: flex;
   padding: 0px 100px;
 }

 .project3{
   width: 22%;
   height: 350px;
   padding: 7px;
   margin-top: 50px;
   margin-left: 100px;
   border: 1px solid rgb(42, 43, 42);
   box-shadow: 1px 1px 9px rgb(103, 105, 103);
   border-radius: 7px;
}

 .project3 img{
    border-radius: 7px;
    margin-left: 8px;
    margin-top: 10px;
    height: 151px;
    opacity: 0.3;
 }

 .project-name3 img{
   height: 20px;
   width: 100px;
   margin-left: 85px;
   margin-top: 15px;
   margin-bottom: 10px;
   opacity: 0.3;
 }

 .desc3{
   color: white;
   margin-left: 8px;
}

.desc3 img{
   height: 100px;
   width: 100px;
   margin-left: 80px;
   opacity: 0.3;
}

 .cards{
   display: flex;
   padding: 0px 100px;
 }

 .coming{
    color:  rgba(10, 248, 248, 0.966);
    font-size: 40px;
    margin-top: 30px;
    display: inline-block;
    margin-left: 545px;
    border-right: 4px solid rgba(10, 248, 248, 0.966);
    white-space: nowrap;
    overflow: hidden;
    animation:
       typing 4s steps(19),
       cursor .4s step-end infinite alternate;
 }

@keyframes cursor {
   50% {
       border-color: transparent
   }
}

@keyframes typing {
   from {
       width: 0
   }
}


/* for phones */

 @media (max-width: 400px){
   label.logo{
       font-size: 30px;
       padding-left: 40px;
   }

   nav ul li a{
       font-size: 15px;
   }

   .checkbtn{
       display: block;
   }

   ul{
       position: fixed;
       width: 100%;
       height: 100vh;
       background-color:rgb(37, 37, 37);
       left: -100%;
       text-align: center;
       transition: all 0.5s;
   }

   nav ul li{
       display: block;  
       margin: 10px 0px;     
   }
   
   #check:checked ~ ul{
       left: 0;
   }

   .mywork{
      font-size: 30px;
      width: 150px;
      margin-left: 117px;
   }

   .smalldesmywork{
      font-size: 15px;
      margin-top: 20px;
      width: 250px;
   }

   .cards{
      padding: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
   }

   .project1{
      width: 85%;
      margin-top: 35px;
      margin-left: 25px;
   }
   
    .project-name1{
      font-size: 18px;
      margin-left: 85px;
    }
   
    .desc1{
      color: white;
      margin-left: 8px;
   }

   .project2{
      width: 85%;
      margin-top: 35px;
      margin-left: 25px;
   }
   
    .project-name2{
      font-size: 18px;
      margin-left: 1px;
    }
   
    .desc2{
      color: white;
      margin-left: 8px;
   }

   .project3{
      width: 85%;
      margin-top: 35px;
      margin-left: 25px;
   }
   
    .project-name3{
      font-size: 18px;
      margin-left: 1px;
    }
   
    .desc3{
      color: white;
      margin-left: 8px;
   }

   .coming{
      font-size: 30px;
      margin-top: 0px;
      margin-bottom: 40px;
      width: 100%;
      margin-left: 40px;
   }
}



